header{
    height: 80px;
    background-color: #ccc;
}
header .container menu{
    height: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
}


header .container menu ul{
    list-style: none;
    display: flex;
    
}

header a{
    display: flex;
    height: 80px;
    display: flex;
    text-justify: center;
    align-items: center;
    margin: 0px 30px;
    padding: 10px;
    transition: all 0.1s linear;
    text-decoration: none;
    color: #444;
}

header a:hover{
    background-color: #444;
    color: #f4f4f4;
}