
form{
    width: 600px;
    margin: 50px auto;
}

label, input {
    display: block;
    padding: 10px;
    width: 100%;
}

.btnEntrar, .btnCadastrar{
    width: 100%;
    padding: 10px;
    cursor: pointer;
}



.loja{
    display: block;
    top: 10px;
    right: 10px;
}


form fieldset{
    padding: 30px;
    margin-top: 50px;
}